<template name="landing_page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				
				<div class="jumbotron">
	  			<h1>World Wide Canvas</h1>
	  			<p>This little application is an experimental prototype into using the <strong>Meteor</strong>-framework to facilitate a collaborative drawing canvas. The drawing implementation is in its own right an experiment into using SVG graphics as a dynamic data-driven visualization for mouse/touch drawn graphics. The visualization is ultimately done using a library called <strong>d3</strong> to transform the distributed drawing data into SVG elements on the client side.</p>
	  			<p>The chosen technologies, while perhaps not optimal in their performance for hand drawn graphics, nonetheless offer an intriguing platform for data-driven applications that benefit from client collaboration.</p>
	  			<p><a href="/canvas" class="btn btn-primary">Start Drawing</a></p>
				</div>
				
			</div>
			</div>
		</div>
</template>